<a href="https://colab.research.google.com/github/Varsha-JJ/Computer-Network-Lab/blob/master/Untitled7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

create Dataframe From Series

In [ ]:
import pandas as pd
a=pd.Series(['neha','jesna','varsha'])
df=pd.DataFrame(a)
print(df)

        0
0    neha
1   jesna
2  varsha

DataFrame from List of Dictionaries

In [ ]:
import pandas as pd
list=[{'Name':'Harshini','Department':'Computer Application'},
      {'Name':'Tharun','Department':'Mechanical'},
      {'Name':'Manu','Department':'Computer Science'}]
df=pd.DataFrame(list)
print(df)

       Name            Department
0  Harshini  Computer Application
1    Tharun            Mechanical
2      Manu      Computer Science

Display the first 5 rows of data frame

In [ ]:
import pandas as pd
list=[{'Name':'Harshini','Department':'Computer Application'},
      {'Name':'Tharun','Department':'Mechanical'},
      {'Name':'Manu','Department':'Computer Science'},
       {'Name':'Pranav','Department':'Computer Science'},
       {'Name':'Meenak','Department':'Computer Science'}] 
df=pd.DataFrame(list)
print(df)
for(row_index,row_value) in df.iterrows():
  print('\n Row index is:',row_index)
  print('\n Row value is:',row_value)

       Name            Department
0  Harshini  Computer Application
1    Tharun            Mechanical
2      Manu      Computer Science
3    Pranav      Computer Science
4    Meenak      Computer Science

 Row index is: 0

 Row value is: Name                      Harshini
Department    Computer Application
Name: 0, dtype: object

 Row index is: 1

 Row value is: Name              Tharun
Department    Mechanical
Name: 1, dtype: object

 Row index is: 2

 Row value is: Name                      Manu
Department    Computer Science
Name: 2, dtype: object

 Row index is: 3

 Row value is: Name                    Pranav
Department    Computer Science
Name: 3, dtype: object

 Row index is: 4

 Row value is: Name                    Meenak
Department    Computer Science
Name: 4, dtype: object

Select the last two columns of the data frame

In [ ]:
import pandas as pd
list=[{'Name':'Harshini','Department':'Computer Application'},
      {'Name':'Tharun','Department':'Mechanical'},
      {'Name':'Manu','Department':'Computer Science'},
       {'Name':'Pranav','Department':'Computer Science'},
       {'Name':'Meenak','Department':'Computer Science'}] 
df=pd.DataFrame(df)
for(col_name,col_value) in df.iteritems():
  print('Column name is:',col_name)
  print('Column values are:',col_value)

Column name is: Name
Column values are: 0    Harshini
1      Tharun
2        Manu
3      Pranav
4      Meenak
Name: Name, dtype: object
Column name is: Department
Column values are: 0    Computer Application
1              Mechanical
2        Computer Science
3        Computer Science
4        Computer Science
Name: Department, dtype: object

Add two data frames

In [ ]:
import pandas as pd
s=pd.Series([10,20,30,40])
df=pd.DataFrame(s)
df.columns=['List1']
df['List2']=20
df['List3']=df['List1']+df['List2']
print(df)

   List1  List2  List3
0     10     20     30
1     20     20     40
2     30     20     50
3     40     20     60

Demonstrate deletion, and renaming of columns

In [ ]:
import pandas as pd